{{> navbar}}
{{!-- <div class="container-fluid mt-4">Graph</div> --}}
<div class="container-fluid">
  <div class="row">
    {{#each sessions}}
    <section class="sessionCard card p-2 d-flex align-items-center">
      <i class="material-icons text-secondary align-self-end clear" data-id="{{_id}}">clear</i></a>
      <h6 class="align-self-start ml-2">{{name}}</h6>
      <div class="exercise-badge">
        {{#each exercises}}
        <span class="badge badge-pill badge-light mr-1 px-3 py-1">{{name}}</span>
        {{/each}}
      </div>
    </section>
    {{/each}}
  </div>
  <button id="deleteAll">DELETE</button>
</div>