{{> navbar}}
{{!-- <div class="container-fluid mt-4">Graph</div> --}}
<div class="container-fluid">
  <div class="row">
    {{#each sessions}}
    <a href="/update/session/{{_id}}" class="sessionCard card p-2 align-items-center">
      <i class="material-icons text-secondary align-self-end clear" data-type="session" data-id="{{_id}}">clear</i>
      <h6 class="align-self-start ml-2">{{name}}</h6>
      <div class="d-flex justify-content-center flex-wrap">
        {{#each exercises}}
        <span class="badge badge-pill badge-light m-1 px-3 py-1">{{name}}</span>
        {{/each}}
      </div>
    </a>
    {{/each}}
  </div>
</div>