{{> navbar}}
{{!-- <div class="container-fluid mt-4">Graph</div> --}}
<div class="container-fluid mt-4">
  <div class="row">
    {{#each sessions}}
    <section class="sessionCard card p-2">
      <i href=`/delete/${{{_id}}}` class="material-icons mt-1 text-danger text-right">clear</i></a>
      <h5>{{name}}</h5>
      <div class="exercise-badge">
        {{#each exercises}}
        <span class="badge badge-pill badge-secondary">{{name}}</span>
        {{/each}}
      </div>
    </section>
    {{/each}}
  </div>
  <button id="deleteAll">DELETE</button>
</div>