{{> navbar}}
<div class="container">
  <div class="row">
    {{#each sessions}}
    <div class="sessionCard card col-4">
      <h5>{{name}}</h5>
      <div>
        {{#each exercises}}
        {{name}}
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>