body, html {
  height: 100%;
}

.navbar {
  height: 65px;
  background-color: black;
}

.container {
  height: calc(100% - 65px);
}

.container-fluid, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.border {
  border: 1px solid black;
}

.card {
    width: 200px;
}

.exerciseCard {
  height: 300px;
}

.exerciseCard:hover {
  background-color: rgba(0, 0, 0, 0.250);
}

.sessionCard {
  height: 200px;
}

.plus {
  font-size: 100px;
  height: 200px;
  position: relative;
  display: flex;
  align-self: center;
  top: 100px;
}

/* .plus:focus {
  
} */

h5 {
  /* font-size: min(20px, 4vw); */
  font-size: 1em;
}